@import "../../web/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../web/bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "user";
@import "subject";
@import "group";
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}


a {
    .glyphicon {
        margin-right: 7px;
    }
}

ul.actions-list {
    li {
        float: left;
        display: block;
    }
}
