{% extends "ChdtuMainBundle::layout.html.twig" %}
{% block content %}
    <ul>
        <li>
            <a href="{{ path('_user_create') }}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span>{{ 'chdtu.add.user'|trans }}</a>
        </li>
    </ul>

    {% include 'ChdtuUserBundle:Users:user_list_table.html.twig' %}

{% endblock %}


